{% extends "Master/header.html" %}
{% block content %}
{% load static %}
<div class="pagetitle">
    <h1>Admin Home Page</h1>
    <nav>

    </nav>
  </div>
    <section class="section" style="min-height: 500px;">
      <div class="row">
        <div class="col-lg-10">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">ADMIN HOME PAGE</h5>

              <img src="{% static 'assets/images/banner.jpg' %}" alt="" width="100%" height="80%"/>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>

        <div class="col-lg-6">



        </div>
      </div>
    </section>

    {% endblock %}