{% extends "Master/header.html" %}
{% block content %}
{% load static %}
<div class="pagetitle">
    <h1>Raw Materials List</h1>
    <nav>

    </nav>
  </div>
    <section class="section" style="min-height: 500px;">
      <div class="row">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
          <div class="alert alert-success"> {{message }}</div>
            {% endfor %}
        </ul>
        {% endif %}


        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">

              <h5 class="card-title">Raw Materials List</h5>

              {% if data %}
              <table class="table table-striped table-bordered">
                <thead><th>Id</th><th>Raw Material</th><th>Description</th><th>Quantity</th><th>Price</th><th>Image</th><th>#</th></thead>

                {%  for k in data  %}

                  <tr>


                    <td>{{forloop.counter}}</td>
                        <td>{{k.raw_materials}}</td>
                        <td>{{k.description}}</td>
                        <td>{{k.quantity}}</td>
                        <td>{{k.price}}</td>
                        <td><img src="{{k.image}}" width="100" height="80"></td>
                        <td><a href="/edit_raw_materials/{{k.raw_materials_id}}" class="btn btn-info">Edit</a></td>
                        <td><a href="/delete_raw_materials/{{k.raw_materials_id}}" onclick="return ConfirmDialog();" class="btn btn-danger">Delete</a></td>
                    </tr>

                    {% endfor  %}
              </table>
                    {% else %}
                    <div class="alert alert-success"> No List Available</div>
                    {% endif %}
          </div></div>
        </div>
      </div>
    </section>

    {% endblock %}