{% extends "Customer/customer_head.html" %}
{% block content %}
{% load static %}
<div class="contact-w3l">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">RAW MATERIALS
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <!-- contact -->
        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                      <div class="alert alert-success"> {{message }}</div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if data %}
                    <table class="table table-striped table-bordered">
                      <thead><th>Id</th><th>Raw Material</th><th>Description</th><th>Image</th></thead>

                      {%  for k in data  %}

                        <tr>


                          <td>{{forloop.counter}}</td>
                              <td>{{k.raw_materials}}</td>
                              <td>{{k.description}}</td>
                              <td><img src="{{k.image}}" width="100" height="80"></td>

                          </tr>

                          {% endfor  %}
                    </table>
                          {% else %}
                          <div class="alert alert-success"> No List Available</div>
                          {% endif %}

                </div>

            </div>
        </div>
        <!-- //contact -->
    </div>
</div>
{% endblock %}
