{% extends "Customer/customer_head.html" %}
{% block content %}
{% load static %}
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Single Page
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="col-md-5 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider">
                  <img src="{{data.image}}" width="350" height="400">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-7 single-right-left simpleCart_shelfItem">
            <h3>Painting Name : {{data.product}}</h3>
            <h3>Painter : {{data.painter_name}}</h3>
            <div class="rating1">
                <span class="starRating">
                    <input id="rating5" type="radio" name="rating" value="5">
                    <label for="rating5">5</label>
                    <input id="rating4" type="radio" name="rating" value="4">
                    <label for="rating4">4</label>
                    <input id="rating3" type="radio" name="rating" value="3" checked="">
                    <label for="rating3">3</label>
                    <input id="rating2" type="radio" name="rating" value="2">
                    <label for="rating2">2</label>
                    <input id="rating1" type="radio" name="rating" value="1">
                    <label for="rating1">1</label>
                </span>
            </div>
            <p>
                <span class="item_price">{{data.price }} </span>

                <label>Free delivery</label>
            </p>
            <div class="single-infoagile">
                <ul>
                    <li>
                        Cash on Delivery Eligible.
                    </li>
                    <li>
                        Shipping Speed to Delivery.
                    </li>

                </ul>
            </div>
            <div class="product-single-w3l">
                <p>
                    <i class="fa fa-hand-o-right" aria-hidden="true"></i>Stock :
                    <label>{{data.quantity }}</label> </p>
                <ul>
                    <li><h3>Description : </h3>
                        {{data.description }}
                    </li>
                    <li><h3>Features : </h3>
                        {{data.features }}
                    </li>

                </ul>
                <p>

                </p>
            </div>
            <div class="occasion-cart">
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value="{{data.product}}" />
                            <input type="hidden" name="item_id" value="{{data.product_id}}" />
                            <input type="hidden" name="item_stock"  value="{{data.quantity}}" />
                            <input type="hidden" name="amount" value="{{data.price}}" />
                            <input type="hidden" name="discount_amount" value="0.00" />
                            <input type="hidden" name="currency_code" value="INR" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit"  value="Add to cart" class="button" />
                        </fieldset>
                    </form>
                </div>

            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<script src="{% static 'assets/js/imagezoom.js' %}"></script>
<style>
    li{
        list-style: none !important;
    }
</style>
	<!-- //special offers -->
	<!-- newsletter -->
	{% endblock %}