{% extends "Customer/customer_head.html" %}
{% block content %}
{% load static %}
<div class="contact-w3l">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Tourist Requests
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <!-- contact -->
        <div class="contact agileits">
            <div class="contact-agileinfo">
                <div class="contact-form wthree">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                      <div class="alert alert-success"> {{message }}</div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <h3 class="tittle-w3l">Tourist Requests - Status</h3>
                    {% if data %}
                    <table class="table table-striped table-bordered">
                        <thead><th>Id</th><th>Tourist Details</th><th>Purpose</th><th>Identity Proof</th><th>Status</th><th>Plantation Details</th></thead>

                    {%  for k in data  %}

                    <tr>


                          <td>{{forloop.counter}}</td>
                          <td><div>Name : {{k.1}}</div>
                            <div>Nationality : {{k.3}}</div>
                        </td>
                        <td><div>Purpose : {{k.4}}</div>
                            <div>Descriprion : {{k.5}}</div>
                        </td>
                        <td><a  href="{{k.2}}" target="_blank">Identity Proof</td>
                          <td>{{k.8}}
                        </td>
                        <td>Plantation Name : {{k.11}}<br>
                            Address : {{k.12}}<br>
                            Owner : {{k.13}}<br>
                            Email : {{k.14}}<br>
                            Phone : {{k.15}}<br>
                          </td>




                      </tr>

                      {% endfor  %}
                      {% else %}
                      <div class="alert alert-success"> No List Available</div>
                      {% endif %}

                </table>


                </div>

            </div>
        </div>
        <!-- //contact -->
    </div>
</div>
{% endblock %}